<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>餐飲</string>
		<key>highlightImage</key>
		<string>Food_click</string>
		<key>image</key>
		<string>Food</string>
	</dict>
	<dict>
		<key>title</key>
		<string>購物</string>
		<key>highlightImage</key>
		<string>Shopping_click</string>
		<key>image</key>
		<string>Shopping</string>
	</dict>
	<dict>
		<key>title</key>
		<string>果蔬</string>
		<key>highlightImage</key>
		<string>Vegetables_click</string>
		<key>image</key>
		<string>Vegetables</string>
	</dict>
	<dict>
		<key>title</key>
		<string>水電費</string>
		<key>highlightImage</key>
		<string>Bills_click</string>
		<key>image</key>
		<string>Bills</string>
	</dict>
	<dict>
		<key>title</key>
		<string>交通</string>
		<key>highlightImage</key>
		<string>Transportation_click</string>
		<key>image</key>
		<string>Transportation</string>
	</dict>
	<dict>
		<key>title</key>
		<string>住房</string>
		<key>highlightImage</key>
		<string>Home_click</string>
		<key>image</key>
		<string>Home</string>
	</dict>
	<dict>
		<key>title</key>
		<string>汽車</string>
		<key>highlightImage</key>
		<string>Car_click</string>
		<key>image</key>
		<string>Car</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娛樂</string>
		<key>highlightImage</key>
		<string>Entertainment_click</string>
		<key>image</key>
		<string>Entertainment</string>
	</dict>
	<dict>
		<key>title</key>
		<string>服裝</string>
		<key>highlightImage</key>
		<string>Clothing_click</string>
		<key>image</key>
		<string>Clothing</string>
	</dict>
	<dict>
		<key>title</key>
		<string>保險</string>
		<key>highlightImage</key>
		<string>Insurance_click</string>
		<key>image</key>
		<string>Insurance</string>
	</dict>
	<dict>
		<key>title</key>
		<string>稅金</string>
		<key>highlightImage</key>
		<string>Tax_click</string>
		<key>image</key>
		<string>Tax</string>
	</dict>
	<dict>
		<key>title</key>
		<string>話費</string>
		<key>highlightImage</key>
		<string>Telephone_click</string>
		<key>image</key>
		<string>Telephone</string>
	</dict>
	<dict>
		<key>title</key>
		<string>香煙</string>
		<key>highlightImage</key>
		<string>Cigarette_click</string>
		<key>image</key>
		<string>Cigarette</string>
	</dict>
	<dict>
		<key>title</key>
		<string>健康</string>
		<key>highlightImage</key>
		<string>Health_click</string>
		<key>image</key>
		<string>Health</string>
	</dict>
	<dict>
		<key>title</key>
		<string>運動</string>
		<key>highlightImage</key>
		<string>Sport_click</string>
		<key>image</key>
		<string>Sport</string>
	</dict>
	<dict>
		<key>title</key>
		<string>嬰幼兒</string>
		<key>highlightImage</key>
		<string>Baby_click</string>
		<key>image</key>
		<string>Baby</string>
	</dict>
	<dict>
		<key>title</key>
		<string>寵物</string>
		<key>highlightImage</key>
		<string>Pet_click</string>
		<key>image</key>
		<string>Pet</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美容</string>
		<key>highlightImage</key>
		<string>Beauty_click</string>
		<key>image</key>
		<string>Beauty</string>
	</dict>
	<dict>
		<key>title</key>
		<string>數碼</string>
		<key>highlightImage</key>
		<string>Electronics_click</string>
		<key>image</key>
		<string>Electronics</string>
	</dict>
	<dict>
		<key>title</key>
		<string>快餐</string>
		<key>highlightImage</key>
		<string>Hamburger_click</string>
		<key>image</key>
		<string>Hamburger</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒水</string>
		<key>highlightImage</key>
		<string>Wine_click</string>
		<key>image</key>
		<string>Wine</string>
	</dict>
	<dict>
		<key>title</key>
		<string>零食</string>
		<key>highlightImage</key>
		<string>Snacks_click</string>
		<key>image</key>
		<string>Snacks</string>
	</dict>
	<dict>
		<key>title</key>
		<string>禮物</string>
		<key>highlightImage</key>
		<string>Gift_click</string>
		<key>image</key>
		<string>Gift</string>
	</dict>
	<dict>
		<key>title</key>
		<string>社交</string>
		<key>highlightImage</key>
		<string>Social_click</string>
		<key>image</key>
		<string>Social</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅行</string>
		<key>highlightImage</key>
		<string>Travel_click</string>
		<key>image</key>
		<string>Travel</string>
	</dict>
	<dict>
		<key>title</key>
		<string>教育</string>
		<key>highlightImage</key>
		<string>Education_click</string>
		<key>image</key>
		<string>Education</string>
	</dict>
	<dict>
		<key>title</key>
		<string>水果</string>
		<key>highlightImage</key>
		<string>Fruits_click</string>
		<key>image</key>
		<string>Fruits</string>
	</dict>
	<dict>
		<key>title</key>
		<string>圖書</string>
		<key>highlightImage</key>
		<string>Book_click</string>
		<key>image</key>
		<string>Book</string>
	</dict>
	<dict>
		<key>title</key>
		<string>辦公</string>
		<key>highlightImage</key>
		<string>Office_click</string>
		<key>image</key>
		<string>Office</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其它</string>
		<key>highlightImage</key>
		<string>Others_click</string>
		<key>image</key>
		<string>Others</string>
	</dict>
</array>
</plist>
