<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>工資</string>
		<key>highlightImage</key>
		<string>Salary_click</string>
		<key>image</key>
		<string>Salary</string>
	</dict>
	<dict>
		<key>title</key>
		<string>受贈</string>
		<key>highlightImage</key>
		<string>Grants_click</string>
		<key>image</key>
		<string>Grants</string>
	</dict>
	<dict>
		<key>title</key>
		<string>獎金</string>
		<key>highlightImage</key>
		<string>Awards_click</string>
		<key>image</key>
		<string>Awards</string>
	</dict>
	<dict>
		<key>title</key>
		<string>銷售</string>
		<key>highlightImage</key>
		<string>Sale_click</string>
		<key>image</key>
		<string>Sale</string>
	</dict>
	<dict>
		<key>title</key>
		<string>租金</string>
		<key>highlightImage</key>
		<string>Rental_click</string>
		<key>image</key>
		<string>Rental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>退款</string>
		<key>highlightImage</key>
		<string>Refunds_click</string>
		<key>image</key>
		<string>Refunds</string>
	</dict>
	<dict>
		<key>title</key>
		<string>優惠</string>
		<key>highlightImage</key>
		<string>Coupons_click</string>
		<key>image</key>
		<string>Coupons</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中獎</string>
		<key>highlightImage</key>
		<string>Lottery_click</string>
		<key>image</key>
		<string>Lottery</string>
	</dict>
	<dict>
		<key>title</key>
		<string>股票</string>
		<key>highlightImage</key>
		<string>Dividends_click</string>
		<key>image</key>
		<string>Dividends</string>
	</dict>
	<dict>
		<key>title</key>
		<string>理財</string>
		<key>highlightImage</key>
		<string>Investments_click</string>
		<key>image</key>
		<string>Investments</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其它</string>
		<key>highlightImage</key>
		<string>Others_click</string>
		<key>image</key>
		<string>Others</string>
	</dict>
</array>
</plist>
